################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://curl.haxx.se/download/curl-7.20.0.tar.gz
md5sum=ce04744b4ac753f851d34a6e5835410a
configure-options=--disable-ldap --disable-ldaps


